@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

nav{
    @apply flex   items-center   
    w-full px-4 lg:px-8 pt-4 pb-2;

    h2{
        @apply text-[15px] md:text-[18px]
        dark:text-gray-300 text-gray-700
        shrink-0  font-[900]
        ;
        font-family: "Shadows Into Light", cursive;
        letter-spacing:.09rem;
    }

    .searchField{
        @apply hidden md:flex 
        flex-1    mx-6;

        .searchWrapper {
            @apply flex items-center   w-full max-w-xl
            py-2 px-4 rounded-2xl cursor-pointer
            bg-gray-200 dark:bg-gray-900
            hover:bg-gray-300 dark:hover:bg-gray-800
            transition-colors;

            .placeholder {
                @apply flex-1 dark:text-gray-400 text-gray-500 text-sm;
            }
            .kbdHint {
                @apply flex gap-0.5;

                kbd {
                    @apply text-xs text-gray-500 dark:text-gray-300
                    bg-white dark:bg-gray-950
                    border border-gray-300 dark:border-gray-800
                    rounded px-2 py-1;
                    font-family: inherit;
                }
            }
        }

    }

    .rightActions{
        @apply flex  items-center gap-3 ml-auto;
    }

    .searchIcon{
        @apply md:hidden text-3xl
        text-gray-700 dark:text-gray-300
        cursor-pointer transition;

        &:hover{
            @apply scale-110;
        }
    }

    .theme{
        @apply text-3xl
        text-gray-700 dark:text-gray-300
        cursor-pointer transition    ;

        &:hover{
            @apply scale-110;
        }
    }
}

 