 
:root {
    --personal: #ec4899;
  --work: #3b82f6;
  --study: #27da69;
  --ideas: #b567fd;
  --todo: #f5d20b;
  --custom: #dec49a;
  --uncategorised:rgb(208, 27, 27);

  --personalLight: #ec4899;
  --workLight: #6695e0;
  --studyLight: #51c47b;
  --ideasLight: #985fce;
  --todoLight: #d5c87d;
  --customLight: #c5b295;
  --draftsLight:white;
  --uncategorisedLight:rgb(249, 136, 136);
}
 